
h1 {color: rgb(206, 233, 126);text-align: center; font-size: 48px;}
p{font-size: 24px ;
        color: 
        #d3ec81;
}
body{background-color: rgb(19, 77, 235);}
ul{font-size: 25px;
        color: rgb(217, 236, 108);
}
li{margin: 20px;}
.arredondamento { border-radius: 15px ;
        border: 10px solid rgb(0, 0, 0);}

.tabela-azul {
  width: 60%;
  margin: 30px auto;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Segoe UI', serif;
  box-shadow: 0 4px 12px rgba(0, 0, 128, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.tabela-azul th,
.tabela-azul td {
  padding: 14px 20px;
  border: none;
  text-align: left;
}

.tabela-azul th {
  background-color: #0077cc;
  color: white;
}

.tabela-azul tr:nth-child(even) td {
  background-color: #e6f0fa;
}

.tabela-azul tr:nth-child(odd) td {
  background-color: #ffffff;
}

.tabela-azul tr:hover td {
  background-color: #cce6ff;
  transition: background-color 0.3s ease;
}

.titulo-tabela{
            font-size: large;
            font-style: italic;
            color: red;
            background-color: rgb(0, 0, 0);
}  

.link-estilizado {
    font-size: large;
  color: #b7d663;
  text-decoration: none;
    font-weight: bold;
  transition: color 0.2s;
}

.link-estilizado:hover {
  color: #000000; 
}
